.hero-section {
  display: flex;
  background-color: red;
  min-height: 100vh;
  max-height: fit-content;
}

.hero-frame {
  width: 100%;
  min-height: 100vh;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-background-blur {
  top: 0;
  width: 100%;
  display: flex;
  min-height: 100%;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: wheat;
}

.overlay {
  top: 0;
  width: 100%;
  min-height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, .4);
}