.hero-section {
  padding: 60px 10%;
  min-height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.description-hero {
  float: left;
  max-width: 40%;
  padding: 16px;
  color: #fff;
}

.h1-hero {
  font-size: 64px;
}

.h3-hero {
  font-size: 32px;
}

.desc-hero {
  margin-top: 30px;
  font-size: 16px;
}


.image {
  float: right;
  background-color: blue;
  width: 40%;
}