.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    padding: 12px 4%;
    background-color: #e4ad5f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border-radius: 10px;
    margin: 1%;
}

.logo {
    font-size: 32px;
    color: #0c2348;
    font-weight: 700;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: #0c2348;
    font-weight: 500;
    margin-left: 40px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #0c2348;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}